<h1>Dashboard</h1>
<div class="chart-container">
  <label for="monthly-spent-date" *ngIf="hasValidData()">Date for report:&nbsp;</label>
  <!-- Allow dates from year 0 until current day. It's very long, but it does what needs to be done -->
  <input name="monthly-spent-date" type="date" id="monthly-spent-date" (hidden)="!hasValidData()"
    value="{{ this.year }}-{{ this.month.toString().padStart(2, '0') }}-01"
    min="0000-01-01"
    max="{{ this.curDate.getFullYear() }}-{{ (this.curDate.getMonth() + 1).toString().padStart(2, '0') }}-{{ this.curDate.getDate().toString().padStart(2, '0') }}"
  >
  <section *ngIf="!hasValidData()">
    No data is available! Please set up
    <a routerLink="/configure" routerLinkActive="active" ariaCurrentWhenActive="page">categories</a>
    and
    <a routerLink="/update" routerLinkActive="active" ariaCurrentWhenActive="page">expenses</a>
    first.
  </section>
  <section *ngIf="hasValidData()" tabindex="0">
    <app-monthly-spent></app-monthly-spent>
  </section>
  <section *ngIf="hasValidData()" tabindex="0">
    <app-monthly-budget></app-monthly-budget>
  </section>
  <section *ngIf="hasValidData()" tabindex="0">
    <app-annual-spent></app-annual-spent>
  </section>
</div>
