@import "../../variables.scss";

nav {
  width: 100%;
  padding: 0.5em 0.25em;
  background-color: $header-bg-color;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

a {
  display: block;
  padding: 0.25em 1em;
  line-height: 44px;
  font-size: 1.25em;
  text-decoration: none;
  margin: 0;
  color: $header-txt-color;
  font-weight: bold;
}
