<h1>Personal Budget</h1>
<p>
  This is a personal budget application created as a final project for ITIS 5166. To use this
  application, please do the following:
</p>
<ol>
  <li>
    <a routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">Create an account</a>
    and <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">sign in</a>.
  </li>
  <li>
    Configure
    <a routerLink="/configure" routerLinkActive="active" ariaCurrentWhenActive="page">categories</a>.
  </li>
  <li>
    Enter your
    <a routerLink="/update" routerLinkActive="active" ariaCurrentWhenActive="page">expenses</a>
    for each month.
  </li>
  <li>
    View your analytics and charts on the
    <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">dashboard</a>.
  </li>
</ol>
<p>
  This application allows you to create categories and track how much you spend each month. It also
  generates graphs and charts based on your data, allowing you to get a better sense of what your
  financial situation actually is.
</p>
