@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "variables.scss";

h1 {
  text-align: center;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: $body-bg-color;
  color: $body-txt-color;
}


